doctype html
html
	head
		title Successful login
		link(rel='stylesheet', href='/style.css', type='text/css')
	body
		div.container
			h1 Wonderful
			img(src='/success.png')
			p Successful login. Thank you!